.section {
    padding: 34px 0;
}



.section {
    display: none;
}

@media all and (max-width: 1599px) {


    .section {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media all and (max-width: 1023px) {


    .section {
        padding: 20px 0;
        padding-bottom: 21px;
    }
}

@media all and (max-width: 767px) {


    .section {
        display: none;
    }
}