.sectionTitle {
  margin-bottom: 27px;
}

@media all and (max-width: 1599px) {

  /* .grid {
    grid-template-columns: repeat(3, 1fr);
  } */

}


@media all and (max-width: 1023px) {

  /* 768px */
  .grid {
    padding: 5px 72px;
  }
}

@media all and (max-width: 767px) {

  /* 320px */
  .grid {
    padding: 64px 0;
    /* REMOVE: grid-template-columns: 1fr; */
    row-gap: 23px;
  }
}