.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

}

.pagination>*:not(:last-child) {
  margin-right: 15px;
}

.button3 {
  display: none;
}

@media all and (max-width: 1599px) {

  .pagination {}
}

@media all and (max-width: 1023px) {

  .pagination {}

  .button3 {
    display: block;
  }
}