.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  /* grid-column: span 9; */
}

.pagination>*:not(:last-child) {
  margin-right: 15px;
}

@media all and (max-width: 1599px) {

  .pagination {
    /* grid-column: span 3; */
  }
}

@media all and (max-width: 1023px) {

  .pagination {
    /* grid-column: span 2; */
  }
}