/* REC: универсализация - это очень хорошо. Однако, кода дело доходит до пиксель перфект, то приходится втыкать вот такие ненужные стили. И ничего с этим не сделаешь. */
/* Так что БЭМ, либо css-модули тащат (намного проще именование) */

.sectionTitle {
  margin-bottom: 26px;
}

.grid {
  row-gap: 32px;
}

/* REC: вот так меняю порядок карточек */

.card1 {
  order: 1;
  grid-column: span 6;
}

.card2 {
  order: 2;
  grid-column: span 6;
}

.card3 {
  order: 3;
  grid-column: span 4;
}

.card4 {
  order: 4;
  grid-column: span 4;
}

.card5 {
  order: 5;
  grid-column: span 4;
}

/* REC: я еще свойства пишу через жопу, ибо у меня медиа-запросы подразумевают, что я делаю desktop-first. Но в какой-то момент я отсупы подгонять с 320пкс. Что с этого получиться я вообще хз.*/

@media all and (max-width: 1599px) {

  /* 1024x */
  .container {
    padding-top: 72px;
    padding-bottom: 50px;
  }

  .sectionTitle {
    margin-bottom: 25px;
  }

  /* TODO: есть дубликаты свойств в разных медиа-запросах. Решать бы как-нибудь этот вопрос. */
  .grid {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 32px;
  }

  .card1 {
    grid-column: span 4;
  }

  .card2 {
    grid-column: span 2;
    order: 5;
  }

  .card3 {
    grid-column: span 2;
    order: 1;
  }

  .card4 {
    grid-column: span 2;
    /* order: 3; */
  }

  .card5 {
    grid-column: span 2;
  }

}

@media all and (max-width: 1023px) {

  /* HERE: тут остановился: */

  /* 768px */
  .grid {
    /* padding: 64px 74px; */
    /* row-gap: 31px; */
    grid-template-columns: 1fr;
    /* padding: 0; */
  }

  .card {

    grid-column: initial;

  }
}

@media all and (max-width: 767px) {

  /* 320px */
  .grid {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    padding-top: 26px;
    column-gap: 16px;
  }

  .sectionTitle {
    grid-column: span 2;
  }
}