.card {
  grid-column: span 3;
  padding: 34px 15px 30px;
  background-color: var(--grayF6);
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 420px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

/* .card2x {
  grid-column: span 6;
} */

.spanDiscount {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
  text-align: center;
  color: var(--white);

  position: absolute;
  background-color: var(--orangeFF8);
  padding: 7px 5px;
  left: 0;
  margin-bottom: 0;
  width: 82px;
  /* height: 30px; */
  display: block;
  text-align: center;
}

.spanDiscount::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 16px 0 16px 10px;
  border-color: transparent transparent transparent var(--orangeFF8);
  top: 50%;
  right: -10px;
  transform: translateY(-49%);
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  /* min-height: 252px; */
  /* min-height: 150px; */
  height: 100%;
  margin-bottom: 13px;
}

/* REC: попытки внести универсальность приводят к тем же телодвиженями, учитывая усложнение селекторов... */

.card .imgContainer {
  /* margin-bottom: 14px; */
}

.productImg {
  align-self: center;
  /* padding-top: 42px; */
  /* max-height: 210px; */
  padding-top: 4px;
}

.descrContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

/* REC: написание всяких умных селекторов = никогда не завершить pixel perfect )))) В топку*/
/* .descrContainer>*:not(:last-child) {
  margin-bottom: 27px;
} */

.productName {
  /* max-width: 225px; */
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: left;
  color: var(--black);
  white-space: pre-line;
  margin-bottom: 25px;
}

.priceRow {
  display: flex;
}

.priceRow>*:not(:last-child) {
  margin-right: 30px;
}

.priceDicounted {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  color: var(--orangeFF8);
}

.fullPrice {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: var(--gray666);
  margin-bottom: 27px;
}

.striked {
  text-decoration: line-through;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  color: var(--gray999);
}

.additionalImg {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

/* TODO: еще бы решить, как лучше писать свойства в медиа-запросах, ибо можно назнчить строго диапазон. А можно сделть типа не менее / не более.  Тогда свойства будут складываться. */

@media all and (max-width: 1599px) {

  /* 1024x */
  .imgContainer {
    min-height: 143px;
    margin-bottom: 0;
  }

  .productImg {
    padding: 0;
  }

  .descrContainer {
    padding: 15px;
  }

  .card {
    padding-bottom: 11px;
    grid-column: span 1;
  }

  .descrContainer {
    padding-top: 14px;
    padding-bottom: 19px;
  }
}

@media all and (max-width: 1023px) {

  /* 768px */
  .card {
    min-height: 420px;
    padding-bottom: 30px;
    padding-left: 16px;
  }

  .spanRank {
    /* margin-bottom: 10px; */
  }

  .imgContainer {
    margin-bottom: 12px;
  }
}

@media all and (max-width: 767px) {

  /* 320px */
  .productName {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    margin-bottom: 20px;
  }

  .card {
    padding: 16px;
    min-height: 278px;
  }

  .descrContainer>*:not(:last-child) {
    margin-bottom: 18px;
  }

  /* .fullPrice {
    font-size: 16px;
font-weight: 400;
line-height: 20.8px;
text-align: left;
  } */

  .descrContainer {
    padding: 0;
  }

  .productImg {
    padding-top: 0;
  }

  .imgContainer {
    justify-content: center;
    margin-bottom: 0;
  }
}