.link {
  display: flex;
  width: 36px;
  height: 36px;

  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.link:focus {
  background-color: var(--purpleC99);
}

.link:focus>svg path {
  fill: var(--white);
}

.link:hover>svg path {
  fill: var(--purpleA65);
}

.link:active>svg path {
  fill: var(--purple703);
}

.link>svg path {
  transition: fill 0.2s ease-in-out;
}

@media all and (max-width: 767px) {
  .link {
    justify-content: center;
  }
}