.card1 {
  order: 1;
}

.card2 {
  order: 2;
}

.card3 {
  order: 3;
}

.card4 {
  order: 4;
}

.card5 {
  order: 5;
}

.sectionTitle {
  margin-bottom: 24px;
}

@media all and (max-width: 1599px) {

  /* .grid {
    grid-template-columns: repeat(3, 1fr);
  } */

}


@media all and (max-width: 1023px) {

  /* 768px */


}

@media all and (max-width: 767px) {

  /* 320px */
  .grid {
    padding: 0;
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  .sectionTitle {
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 28px;
  }

  /* HERE: нужно добавить карточки в секцию при адаптиве*/
}