.sectionTitle {
  margin-bottom: 26px;
}

.grid {
  row-gap: 32px;
}



.card1 {
  order: 1;
  grid-column: span 6;
}

.card2 {
  order: 2;
  grid-column: span 6;
}

.card3 {
  order: 3;
  grid-column: span 4;
}

.card4 {
  order: 4;
  grid-column: span 4;
}

.card5 {
  order: 5;
  grid-column: span 4;
}



@media all and (max-width: 1599px) {


  .container {
    padding-top: 72px;
    padding-bottom: 50px;
  }

  .sectionTitle {
    margin-bottom: 25px;
  }


  .grid {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 32px;
  }

  .card1 {
    grid-column: span 4;
  }

  .card2 {
    grid-column: span 2;
    order: 5;
  }

  .card3 {
    grid-column: span 2;
    order: 1;
  }

  .card4 {
    grid-column: span 2;

  }

  .card5 {
    grid-column: span 2;
  }

}

@media all and (max-width: 1023px) {


  .grid {


    grid-template-columns: 1fr 1fr;
    column-gap: 32px;

  }

  .card {

    grid-column: initial;

  }

  .card1 {
    grid-column: span 2;
  }

  .card4 {
    order: 5
  }

  .sectionTitle {
    margin-bottom: 24px;
  }
}

@media all and (max-width: 767px) {


  .grid {
    grid-template-columns: 1fr 1fr;

    padding: 0;
    padding-top: 26px;
    column-gap: 14px;

  }

  .card {
    grid-column: initial;
  }

  .card1 {
    grid-column: span 2;
  }

  .sectionTitle {

    margin-bottom: 0px;
    font-size: 24.4px;
    line-height: 24px;

  }

}