.title {
  /* REC: сетку можно еще подгонять вот так, если не хочется трогать row-gap и col-gap */
  margin-bottom: -14px;
}

.backgroundCell {
  /* TODO: проверить, как вообще убирается сама ячейка с бэкграундом при таком раскладе: */
  grid-column: span 6;
  /* grid-row: span 2; */
  background-image: url('../../assets/img/feedback_bg.png');
  background-position: bottom 22px center;
  background-repeat: no-repeat;
}

@media all and (max-width: 1023px) {
  /* 768px */
  .container {
    padding: 65px 72px;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .title {
    grid-column: span 2;
  }
  .backgroundCell {
    grid-column: initial;
    grid-row: span 2;
    background-image: url('../../assets/img/768px/feedback_bg_768px.png');
    background-position: initial;
    background-position: center;
    background-size: contain;
  }
}

@media all and (max-width: 767px) {
  /* 320px */
  .container {
    padding: 5px 0;
  }

  .backgroundCell {
    grid-column: initial;
  }

  .grid {
    row-gap: 22px;
  }
}
