.cont {
    display: flex;
}

.header>*:last-child {
    padding-bottom: 19px;
}

.NavBar {
    margin-bottom: 47px;
}

.section {
    margin-bottom: 80px;
}

.section:last-child {
    margin-bottom: 71px;
}

@media all and (max-width: 1599px) {
    .header>*:last-child {
        padding-bottom: 22px;
    }

    .NavBar {
        margin-bottom: 36px;
    }

    .section {
        margin-bottom: 70px;
    }

    .section:last-child {
        margin-bottom: 68px;
    }

}

@media all and (max-width: 1023px) {

    .NavBar {
        margin-bottom: 13px;
    }

    .section {
        margin-bottom: 60px;
    }

    .section:last-child {
        margin-bottom: 71px;
    }

}