.sectionTitle {
  margin-bottom: 25px;
}

.grid {}

@media all and (max-width: 1599px) {


  .container {
    padding: 0;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sectionTitle {
    margin-bottom: 25px;
  }
}

@media all and (max-width: 1023px) {


  .container {
    margin-bottom: 71px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 767px) {



  .container {
    padding: 61px 12px;
    row-gap: 24px;
    margin-bottom: 0;
  }

  .grid {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  .sectionTitle {
    font-size: 24px;
    line-height: 24px;
  }
}