.section,
.section222 {
  padding: 70px 0;
}

.sectionSome:not(:last-child) {
  margin-bottom: 70px;
}

.sectionFix {
  padding-bottom: 72px;
}

.sectionFooter {
  /* display: flex; */
  /* justify-content: space-between; */
  /* padding-top: 10px; */
}


@media all and (max-width: 1599px) {

  /* 1024x */
  .section,
  .section222 {
    padding: 71px 36px;
  }

  .section>*:not(:last-child) {
    margin-bottom: 69px;
  }

  .sectionFix {
    padding-bottom: 72px;
  }
}

@media all and (max-width: 1023px) {

  /* 768px */
  .section,
  .section222 {
    padding: 71px 71px;
  }

  .section222 {

    padding-bottom: 67px;

  }

  .sectionFix {
    padding-top: 68px;
  }
}

@media all and (max-width: 767px) {

  /* 320px */
  .section {
    padding: 12px;
    margin-bottom: 57px;
  }
}