.PageMainGroup2 {
    padding: 70px 0;
    /* PixP: */
    padding-bottom: 74px;
}

.PageMainGroup2>*:not(:last-child) {
    margin-bottom: 70px;
}


@media all and (max-width: 1599px) {

    /* 1024px */

    .PageMainGroup2>*:not(:last-child) {
        margin-bottom: 72px;
    }

    .PageMainGroup2 {
        padding-bottom: 72px;
    }

}

@media all and (max-width: 767px) {

    /* 320px */
    .PageMainGroup2 {
        padding: 36px 0;
        padding-bottom: 69px;
    }

}