.a {
  color: var(--gray999);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  position: relative;


  transition: color 0.2s ease-in-out, background-color 0.2s ease-out;
  color: var(--black);
}


.a:focus {
  color: var(--black);
  outline: none;
  background-color: var(--purpleEBD);
}

.a:hover {
  color: var(--purpleA65);
}

.a:active {
  color: var(--purple703);
}

@media all and (max-width: 767px) {
  .a {
    font-size: 14px;
  }
}