.itemTags {
  grid-column: span 6;
}

.tagContainer {
  width: 100%;
  display: flex;
  max-width: 328px;

}

.tagContainer>*:not(:last-child) {
  margin-right: 5px;
}

.tagRow {
  display: flex;
}

.tagName,
.tag {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  white-space: nowrap
}

.tagName {
  color: var(--gray999);
}

.delimeter {
  width: 100%;
  background-image: linear-gradient(to right, black 20%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 5px 1px;
  background-repeat: repeat-x;
  position: relative;
  bottom: 8px;
}












@media all and (max-width: 1599px) {

  .itemTags {

    grid-column: span 4;
  }

  .tagContainer {
    max-width: 189px;
  }
}

@media all and (max-width: 1023px) {
  .itemTags {
    grid-column: initial;
    margin-top: -54px;
  }

  .tagContainer {
    max-width: 408px;
  }
}

@media all and (max-width: 767px) {
  .delimeter {
    display: none;
  }

  .tagContainer {
    width: initial;

  }

  .tagRow {
    flex-direction: column;
  }

  .tagName {
    font-size: 10px;
    line-height: 10px;
  }

  .tagRow {
    margin-bottom: 5.9px;
  }
}