.sidebar {
  /* background-color: rgb(242, 204, 204); */
  display: flex;
  flex-direction: column;
  padding: 35px 0;
  padding-bottom: 93px;
}

.filterBy {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  margin-bottom: 26px;
}

.filterName {
  display: block;
  margin-bottom: 14px;
  font-size: 17px;
}

.fieldset {
  padding: 0;
  border: none;
  margin-bottom: 31px;
}

/* .fieldset:not(:last-child) {
  margin-bottom: 15px;
}

.checkbox:not(:last-child) {
  margin-bottom: 12px;
} */

.fieldset>*:not(:last-child) {
  margin-bottom: 11px;
}

.fieldsetCategory {
  margin-bottom: 28px;
}

.filterNamePrice {
  margin-bottom: 3px;
}

.priceDiv>*:not(:last-child) {
  margin-right: 12px;
}

.priceFilterInput {
  border: 1px solid var(--gray999);
  border-radius: 3px;
  padding: 7px;
  width: 85px;
}

/* TODO: тут посмотреть нужные ли тут ховеры и прочее + тринзишн */

.priceFilterInput:focus {
  border-color: var(--purple703);
  outline: none;
}

.priceFilterInput:hover {
  border-color: var(--purpleA65);
}

/* .priceFilterInput:active {

} */

.priceFilterInput::placeholder {
  font-size: 15px;
  padding-left: 6px;
}


@media all and (max-width: 1599px) {

  /* HERE: */
  .sidebar {
    flex-direction: row;
  }

}