.grid {
  display: grid;



  column-gap: 32px;
  row-gap: 32px;


}

.main {
  margin-bottom: 37px;
}


.header>*:last-child {
  padding-bottom: 21px;
}

@media all and (max-width: 1599px) {
  .grid {
    row-gap: 25px;
  }

  .main {
    margin-bottom: 70px;
  }

  .header>*:last-child {
    padding-bottom: 25px;
  }
}

@media all and (max-width: 767px) {
  .grid {
    row-gap: 30px;
  }
}