.card {
  /* padding: 30px; */
  background-color: var(--grayF6);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 511px;
}

.sizesmall.card {
  min-height: 405px;
}

.card1x {
  grid-column: span 4;
}

.card2x {
  grid-column: span 6;
}

.descrContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px 29px 30px;
}

/* .descrContainer > *:not(:last-child) { */
/* margin-bottom: 20px; */
/* } */

.subcategories {
  margin-bottom: 14px;
  display: flex;
}

.link {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: var(--gray999);
}

.link:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.68px;
  text-align: left;
  color: var(--black);
  /* margin-bottom: 29px; */
}

.imgContainer {
  /* display: flex; */
  /* align-items: flex-end; */
  /* height: 100%; */
  /* min-height: 339px; */
}

.picture {
  /* min-height: 303px; */
  display: flex;
  align-items: flex-end;
}

.categoryImg {
  /* position: absolute; */
  /* margin-left: -30px; */
  /* margin-bottom: 30px; */
  /* REC: новое свойство для object-fit */
  /* object-fit: contain; */
  /* object-position: left center; */
  /* min-height: 311px; */
}

.titleContainer {
  display: flex;
  align-items: center;
  /* margin-bottom: 29px; */
}

.nameBtn {
  display: none;
}

.btnContainer {
  padding: 0 30px 28px 30px;
  margin-top: auto;
}

/* TODO: скорее всего, если я хотел начинать с мобилок, то надо были писать min-width: 320 и т.д. Тогда бы свойста навешивались. Надо переделать. */
/* REC: так еще удобнее получается, ибо попадаешь точно в размер макета, а дальше расширение. */
/* @media all and (max-width: 767px) { */

/* UPD: в таком случае, ВООБЩЕ ВСЕ надо переделывать, ибо дефолтные размеры шрифта указаны для 1920 и все прочее. Так что нет. */
/* А вообще, наверное, прикольно начинать с мобилы. */

@media all and (max-width: 1599px) {

  /* 1024x */

  .nameBtn {
    display: none;
  }

  .link:not(:last-child) {
    margin-right: 30px;
  }
}

@media all and (max-width: 1023px) {

  /* 768px */
  .card {
    grid-column: initial;
    min-height: 511px;
    padding: 0;
  }

  .card1x .title {
    margin-bottom: 9px;
  }

  .card1x>.categoryImg {
    max-height: 296px;
  }

  .card2x {
    grid-column: span 2;
  }

  .card2x>.categoryImg {
    max-width: 515px;
  }

  .descrContainer {
    padding: 29px 29px;
  }

  .btnContainer {
    padding: 31px 28px;
  }

  .categoryImg {
    margin: 0;
  }

  .link:not(:last-child) {
    margin-right: 30px;
  }

  .nameBtn {
    display: none;
  }

  .title {
    margin: 0;
  }

  .descrContainer {
    padding: 31px;
  }

  .btnContainer {
    margin-top: auto;
    padding: 30px 31px 29px;
    /* padding-bottom: 36px; */
    /* padding-top: 30px; */
  }


}

@media all and (max-width: 767px) {

  /* 320px */
  .card {
    grid-column: initial;
    padding: 19px 0;
    border-radius: 10px;
    min-height: initial;
    padding: 0;
  }

  .card2x {
    grid-column: span 2;
    padding-top: 29px;
    /* Убрал, ибо изменил логику верстки карточки */
    /* padding-bottom: 17px; */
  }

  .subcategories {
    display: flex;
  }

  .categoryImg {
    margin: 0;
  }

  .link {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    text-align: left;
    margin: 0;
  }

  .link:not(:last-child) {
    margin-right: 21px;
  }

  .card2x .link {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    margin-bottom: 0;
  }

  .card2x .link:not(:last-child) {
    margin-right: 20px;
  }

  .title {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    margin-bottom: 0;
  }

  .card2x .title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32.68px;
    text-align: left;
  }

  .titleContainer {
    margin-bottom: 10px;
  }

  .btn {
    display: none;
  }

  .subcategories {
    margin-bottom: 22px;
  }

  .card2x .subcategories {
    margin-bottom: 14px;
    flex-direction: row;
  }

  .subcategories {
    flex-wrap: wrap;
    margin-bottom: 23px;
  }

  .descrContainer {
    padding: 13px 30px;
  }

  .title {
    display: none;
  }

  .btn {
    display: flex;
  }

  .picture {
    min-height: initial;
  }

  .btnContainer {
    padding: 0;
    display: none;
  }


  /* TODO: не очень нравится мне это решение. Но другого что-то придумать не могу. Ибо навешвать доп классы вне компоннета не хочется - там уже и так много доп. классов. */

  .link {
    font-size: 10px;
  }

  .title {
    display: block;
    font-size: 10px;
  }

  .nameBtn {
    display: block;
  }

  .descrContainer {
    padding: 16px 16px 10px;
  }

  .title {
    font-size: 25px;
  }

  .link {
    font-size: 15px;
  }

  .descrContainer {
    padding-top: 13px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 10px;
  }

  .link:not(:last-child) {
    margin-right: 16px;
  }

  .card {
    padding: 19px 0 16px;
    grid-column: span 2;
  }

  .sizesmall.card {
    grid-column: initial;
    /* HERE */
    padding-top: 0;
    padding-bottom: 16px;
    /* TODO: прописать новый тег КОСТЫЛЬ */
    /* REC: вот это костыль */
    max-height: 206px;
  }

  .sizesmall .descrContainer {
    padding: 16px 16px 5px;
  }

  .sizesmall .subcategories {
    flex-direction: column;
    margin-bottom: 13px;
  }

  .sizesmall .link:not(:last-child) {
    margin: 0;
    margin-bottom: 5px;
  }

  .sizesmall .title {
    font-size: 15px;
    margin-right: 10px;
  }

  .sizesmall .subcategories {
    margin-bottom: 8px;
  }

  .sizesmall .link {
    font-size: 10px;
  }

}