.card {

  background-color: var(--grayF6);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 511px;
}

.sizesmall.card {
  min-height: 405px;
}

.card1x {
  grid-column: span 4;
}

.card2x {
  grid-column: span 6;
}

.descrContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px 29px 30px;
}





.subcategories {
  margin-bottom: 14px;
  display: flex;
}

.link {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: var(--gray999);
}

.link:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.68px;
  text-align: left;
  color: var(--black);

}

.imgContainer {}

.picture {

  display: flex;
  align-items: flex-end;
}

.categoryImg {}

.titleContainer {
  display: flex;
  align-items: center;

}

.nameBtn {
  display: none;
}

.btnContainer {
  padding: 0 30px 28px 30px;
  margin-top: auto;
}








@media all and (max-width: 1599px) {



  .card,
  .sizesmall.card {

    min-height: 511px;

  }

  .nameBtn {
    display: none;
  }

  .link:not(:last-child) {
    margin-right: 30px;
  }

  .picture {
    min-height: 303px;
  }
}

@media all and (max-width: 1023px) {


  .card {
    grid-column: initial;
    min-height: 511px;
    padding: 0;
  }

  .card1x .title {
    margin-bottom: 9px;
  }

  .card1x>.categoryImg {
    max-height: 296px;
  }

  .card2x {
    grid-column: span 2;
  }

  .card2x>.categoryImg {
    max-width: 515px;
  }

  .descrContainer {
    padding: 29px 29px;
  }

  .btnContainer {
    padding: 31px 28px;
  }

  .categoryImg {
    margin: 0;
  }

  .link:not(:last-child) {
    margin-right: 30px;
  }

  .nameBtn {
    display: none;
  }

  .title {
    margin: 0;
  }

  .descrContainer {
    padding: 31px;
  }

  .btnContainer {
    margin-top: auto;
    padding: 30px 31px 29px;


  }


}

@media all and (max-width: 767px) {


  .card {
    grid-column: initial;
    padding: 19px 0;
    border-radius: 10px;
    min-height: initial;
    padding: 0;
  }

  .card2x {
    grid-column: span 2;
    padding-top: 29px;


  }

  .subcategories {
    display: flex;
  }

  .categoryImg {
    margin: 0;
  }

  .link {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    text-align: left;
    margin: 0;
  }

  .link:not(:last-child) {
    margin-right: 21px;
  }

  .card2x .link {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    margin-bottom: 0;
  }

  .card2x .link:not(:last-child) {
    margin-right: 20px;
  }

  .title {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    margin-bottom: 0;
  }

  .card2x .title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32.68px;
    text-align: left;
  }

  .titleContainer {
    margin-bottom: 10px;
  }

  .btn {
    display: none;
  }

  .subcategories {
    margin-bottom: 22px;
  }

  .card2x .subcategories {
    margin-bottom: 14px;
    flex-direction: row;
  }

  .subcategories {
    flex-wrap: wrap;
    margin-bottom: 23px;
  }

  .descrContainer {
    padding: 13px 30px;
  }

  .title {
    display: none;
  }

  .btn {
    display: flex;
  }

  .picture {
    min-height: initial;
  }

  .btnContainer {
    padding: 0;
    display: none;
  }




  .link {
    font-size: 10px;
  }

  .title {
    display: block;
    font-size: 10px;
  }

  .nameBtn {
    display: block;
  }

  .descrContainer {
    padding: 16px 16px 10px;
  }

  .title {
    font-size: 25px;
  }

  .link {
    font-size: 15px;
  }

  .descrContainer {
    padding-top: 13px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 10px;
  }

  .link:not(:last-child) {
    margin-right: 16px;
  }

  .card {
    padding: 19px 0 16px;
    grid-column: span 2;
  }

  .sizesmall.card {
    grid-column: initial;
    padding-top: 0;
    padding-bottom: 16px;


    max-height: 206px;
    min-height: initial;
  }

  .sizesmall .descrContainer {
    padding: 16px 16px 5px;
  }

  .sizesmall .subcategories {
    flex-direction: column;
    margin-bottom: 13px;
  }

  .sizesmall .link:not(:last-child) {
    margin: 0;
    margin-bottom: 5px;
  }

  .sizesmall .title {
    font-size: 15px;
    margin-right: 10px;
  }

  .sizesmall .subcategories {
    margin-bottom: 8px;
  }

  .sizesmall .link {
    font-size: 10px;
  }

}