.grid {
    row-gap: 109px;
    grid-template-columns: repeat(9, 1fr);
}

@media all and (max-width: 1599px) {
    .grid {
        row-gap: 81px;
    }
}

@media all and (max-width: 1023px) {
    .grid {
        grid-template-columns: 1fr;

        row-gap: 83px;
    }
}

@media all and (max-width: 1023px) {
    .grid {
        grid-template-columns: 1fr;

        row-gap: 15px;
    }
}